* 
{ margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.Tap{
    width:1100px ;
    margin: auto;
}
.card{
    background-size: cover;
    background-position: center;
    width: 360px;
    font-family:cursive;
    padding: 30px 20px;
    margin: 50px auto;
    box-sizing: border-box;
    display: inline-block;
}
.card p{
    font-size: 18px ;
    line-height: 27px;
    text-align: center;
}
.card h1{
    text-align: center;
}
.card a{
    text-decoration: none;
    background-color: brown;
    color: aliceblue;
    display: inline-block;
    padding: 15px 10px ;
    border-radius: 25px;
    
}
.box01{
    background-image:url(https://images.pexels.com/photos/17909601/pexels-photo-17909601/free-photo-of-view-of-the-sea-from-a-cliff.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load) ;
    color: rgb(107, 83, 51);
}
.box02{
    background-image:url(https://images.pexels.com/photos/16228998/pexels-photo-16228998/free-photo-of-a-warning-sign-on-the-shore.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) ;
    color: rgb(107, 83, 51);
}
.box03{
    background-image:url(https://images.pexels.com/photos/12957208/pexels-photo-12957208.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) ;
    color:  rgb(107, 83, 51);
}
.box04{
    background-image:url(https://images.pexels.com/photos/16228998/pexels-photo-16228998/free-photo-of-a-warning-sign-on-the-shore.jpeg) ;
    color:  rgb(107, 83, 51);
}
.box05{
    background-image:url(https://images.pexels.com/photos/3583263/pexels-photo-3583263.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load) ;
    color:  rgb(107, 83, 51);
}












